auto-save-list/
transient/
var/
elpa/
eshell/
*.*~
/projectile-bookmarks.eld
/forge-database.sqlite
/tramp
/org-clock-save.el
/custom.el
/places
/recentf
/.emacs.desktop
/.lsp-session-v1
/projectile.cache
/rake.cache
/bookmarks
/url/
/.cache/
/eln-cache/
/org-roam.db
/.dap-breakpoints
/smex-items
/.cask/
*.elc
